.container {
  width: 120px;
  background-color: black;
  color: white;
  height: calc(100vh - 90px);
  display: flex;
  flex-direction: column;

  &-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    height: 70%;
  }

  .oui {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 120px;
    height: 20%;

    small {
      transform: rotate(-90deg);
      font-size: 12px;
      font-weight: 500;
    }
  }
}
