.container {
  background-color: black;
  color: white;
  height: calc(100vh - 90px);
  display: flex;
  flex-direction: column;

  &-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    height: 60%;
  }

  .brand {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 30%;

    small {
      transform: rotate(-90deg);
      font-size: 12px;
      font-weight: 500;
      width: 140px;
      margin-bottom: 30px;
    }
  }
}
