.container {
  background-color: #fbfbfb;
  padding: 25px 40px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  img {
    height: 40px;
    width: 40px;
  }

  &-data {
    h4 {
      margin: 0;
    }
    span {
      color: #74798c;
      font-size: 14px;
      font-weight: 500;
    }
  }
}
