.container {
  height: 230px;
  width: 240px;
  background-color: #282d30;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
